Repository hashicorp/hcp-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems, @hashicorp/consul-cloud-ui, @hashicorp/vault-cloud-ui, @hashicorp/vault-cloud, @hashicorp/packer-cloud-ui, @hashicorp/cloud-packer, @hashicorp/cloud-access-control, @hashicorp/hcp-managed-services-ind

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence
* @hashicorp/cloud-core-platform-surfaces @hashicorp/cloud-core-platform-systems

# The Consul clients are owned by Consul
/clients/cloud-consul-service/ @hashicorp/consul-cloud-ui

# The Vault clients are owned by Vault
/clients/cloud-vault-service/ @hashicorp/vault-cloud-ui @hashicorp/vault-cloud

# The Packer clients are owned by Packer
/clients/cloud-packer-service/ @hashicorp/packer-cloud-ui @hashicorp/cloud-packer

# The Network and Resource Manager clients are owned by access-control and platform systems team respectively.
/clients/cloud-resource-manager/ @hashicorp/cloud-access-control
/clients/cloud-network/ @hashicorp/hcp-managed-services-ind

# The Operation clients are owned by Dataplane
/clients/cloud-operation/ @hashicorp/cloud-access-control

Add new config geography package with configs for NA and EU
  config/geography/europe.go
  config/geography/geography.go
  config/geography/north_america.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

config: add cachedTokenFile to hcp config
  config/hcp.go
  config/tokensource.go
  config/with.go
  config/with_test.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

changelog
  .changelog/293.txt
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update cloud-resource-manager SDK
  clients/cloud-resource-manager/stable/2019-12-10/client/organization_service/organization_service_client.go
  clients/cloud-resource-manager/stable/2019-12-10/client/project_service/project_service_client.go
  clients/cloud-resource-manager/stable/2019-12-10/client/project_service/project_service_list_parameters.go
  clients/cloud-resource-manager/stable/2019-12-10/client/project_service/project_service_set_description_responses.go
  clients/cloud-resource-manager/stable/2019-12-10/client/project_service/project_service_set_name_responses.go
  clients/cloud-resource-manager/stable/2019-12-10/models/hashicorp_cloud_resourcemanager_project_create_response.go
  clients/cloud-resource-manager/stable/2019-12-10/models/hashicorp_cloud_resourcemanager_project_set_description_response.go
  clients/cloud-resource-manager/stable/2019-12-10/models/hashicorp_cloud_resourcemanager_project_set_name_response.go
Owners: @hashicorp/cloud-access-control

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update cloud-vault-radar SDK
  clients/cloud-vault-radar/preview/2023-05-01/client/cloud_vault_radar_client.go
  clients/cloud-vault-radar/preview/2023-05-01/client/data_source_registration_service/data_source_registration_service_client.go
  clients/cloud-vault-radar/preview/2023-05-01/client/data_source_registration_service/get_data_source_by_id_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/data_source_registration_service/offboard_data_source_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/data_source_registration_service/onboard_data_source_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/data_source_registration_service/update_data_source_token_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/integration_connection_service/create_integration_connection_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/integration_connection_service/delete_integration_connection_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/integration_connection_service/get_integration_connection_by_id_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/integration_connection_service/get_integration_connection_by_name_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/integration_connection_service/integration_connection_service_client.go
  clients/cloud-vault-radar/preview/2023-05-01/client/integration_connection_service/update_integration_connection_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/integration_subscription_service/create_integration_subscription_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/integration_subscription_service/delete_integration_subscription_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/integration_subscription_service/get_integration_subscription_by_id_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/integration_subscription_service/get_integration_subscription_by_name_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/integration_subscription_service/integration_subscription_service_client.go
  clients/cloud-vault-radar/preview/2023-05-01/client/integration_subscription_service/update_integration_subscription_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/resource_service/list_resources_parameters.go
  clients/cloud-vault-radar/preview/2023-05-01/client/resource_service/list_resources_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/resource_service/resource_service_client.go
  clients/cloud-vault-radar/preview/2023-05-01/client/tenant_service/create_tenant_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/tenant_service/get_tenant_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/tenant_service/list_organization_tenants_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/tenant_service/provision_tenant_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/tenant_service/tenant_service_client.go
  clients/cloud-vault-radar/preview/2023-05-01/models/filter_filter_operation.go
  clients/cloud-vault-radar/preview/2023-05-01/models/protobuf_any.go
  clients/cloud-vault-radar/preview/2023-05-01/models/vault_radar20230501_filter.go
  clients/cloud-vault-radar/preview/2023-05-01/models/vault_radar20230501_filter_value.go
  clients/cloud-vault-radar/preview/2023-05-01/models/vault_radar20230501_resource.go
  clients/cloud-vault-radar/preview/2023-05-01/models/vault_radar20230501_resource_list_response.go
  clients/cloud-vault-radar/preview/2023-05-01/models/vault_radar20230501_search_schema.go
  clients/cloud-vault-radar/preview/2023-05-01/models/vault_radar20230501_tenant_get_response.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

update changelog
  .changelog/295.txt
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update cloud-resource-manager SDK
  clients/cloud-resource-manager/stable/2019-12-10/client/project_service/project_service_client.go
Owners: @hashicorp/cloud-access-control

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

HCPCP-2469 add Geography to example
  cmd/example/main.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update cloud-waypoint-service SDK
  clients/cloud-waypoint-service/preview/2024-11-22/client/waypoint_service/waypoint_service_client.go
  clients/cloud-waypoint-service/preview/2024-11-22/client/waypoint_service/waypoint_service_send_status_log2_parameters.go
  clients/cloud-waypoint-service/preview/2024-11-22/client/waypoint_service/waypoint_service_send_status_log2_responses.go
  clients/cloud-waypoint-service/preview/2024-11-22/client/waypoint_service/waypoint_service_send_status_log_parameters.go
  clients/cloud-waypoint-service/preview/2024-11-22/client/waypoint_service/waypoint_service_send_status_log_responses.go
  clients/cloud-waypoint-service/preview/2024-11-22/models/hashicorp_cloud_waypoint_v20241122_action_config_flavor_git_hub.go
  clients/cloud-waypoint-service/preview/2024-11-22/models/hashicorp_cloud_waypoint_v20241122_action_config_flavor_git_hub_method.go
  clients/cloud-waypoint-service/preview/2024-11-22/models/hashicorp_cloud_waypoint_v20241122_ref_action_run.go
  clients/cloud-waypoint-service/preview/2024-11-22/models/hashicorp_cloud_waypoint_v20241122_ref_action_run_specifier.go
  clients/cloud-waypoint-service/preview/2024-11-22/models/hashicorp_cloud_waypoint_v20241122_ui_action_config_bundle.go
  clients/cloud-waypoint-service/preview/2024-11-22/models/hashicorp_cloud_waypoint_v20241122_ui_action_config_bundle_variable.go
  clients/cloud-waypoint-service/preview/2024-11-22/models/hashicorp_cloud_waypoint_v20241122_waypoint_service_send_status_log_body.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update config/geography/europe.go
  config/geography/europe.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update config/geography/europe.go
  config/geography/europe.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

HCPCP-2278 Rename geography source files to align with agreed terminology
  config/geography/eu.go
  config/geography/us.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

HCPCP-2278 Rename of geographical constants - NorthAmerica -> US - Europe -> EU
  cmd/example/main.go
  config/defaults.go
  config/geography/eu.go
  config/geography/geography.go
  config/geography/us.go
  config/new_test.go
  config/with_test.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

HCPCP-2278 Update geographies to a custom type rather than string
  cmd/example/main.go
  config/defaults.go
  config/geography/eu.go
  config/geography/geography.go
  config/geography/us.go
  config/with.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

HCPCP-2278 Remove oauth2 redirect url from geo config
  config/defaults.go
  config/geography/eu.go
  config/geography/geography.go
  config/geography/us.go
  config/with_test.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

HCPCP-2278 Add test for invalid geo
  config/new_test.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

HCPCP-2278 Additional tests for EU config
  config/geography/eu.go
  config/geography/us.go
  config/new.go
  config/new_test.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

HCPCP-2278 Update error message for geography config
  config/defaults.go
  config/new_test.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

HCPCP-2278 Add ability to set geography from environment variable
  config/env.go
  config/env_test.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

HCPCP-2278 stub EU geo oauth client id and scada url
  config/geography/eu.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

HCPCP-2278 correct eu geo test
  config/new_test.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update cloud-network SDK
  clients/cloud-network/stable/2020-09-07/client/network_service/get_private_link_service_parameters.go
  clients/cloud-network/stable/2020-09-07/client/network_service/get_private_link_service_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/list_private_link_service_parameters.go
  clients/cloud-network/stable/2020-09-07/client/network_service/list_private_link_service_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/network_service_client.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_dns_forwarding.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_dns_forwarding_response.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_get_private_link_service_response.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_list_private_link_service_response.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_private_link_service.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_private_link_service_state.go
Owners: @hashicorp/hcp-managed-services-ind

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update cloud-operation SDK
  clients/cloud-operation/preview/2020-05-05/client/cloud_operation_client.go
  clients/cloud-operation/preview/2020-05-05/client/operation_service/get_parameters.go
  clients/cloud-operation/preview/2020-05-05/client/operation_service/get_responses.go
  clients/cloud-operation/preview/2020-05-05/client/operation_service/list_parameters.go
  clients/cloud-operation/preview/2020-05-05/client/operation_service/list_responses.go
  clients/cloud-operation/preview/2020-05-05/client/operation_service/operation_service_client.go
  clients/cloud-operation/preview/2020-05-05/client/operation_service/wait_parameters.go
  clients/cloud-operation/preview/2020-05-05/client/operation_service/wait_responses.go
  clients/cloud-operation/preview/2020-05-05/models/hashicorp_cloud_operation_get_response.go
  clients/cloud-operation/preview/2020-05-05/models/hashicorp_cloud_operation_list_response.go
  clients/cloud-operation/preview/2020-05-05/models/hashicorp_cloud_operation_wait_response.go
  clients/cloud-operation/stable/2020-05-05/client/operation_service/get_parameters.go
  clients/cloud-operation/stable/2020-05-05/client/operation_service/get_responses.go
  clients/cloud-operation/stable/2020-05-05/client/operation_service/list_parameters.go
  clients/cloud-operation/stable/2020-05-05/client/operation_service/list_responses.go
  clients/cloud-operation/stable/2020-05-05/client/operation_service/operation_service_client.go
  clients/cloud-operation/stable/2020-05-05/client/operation_service/wait_parameters.go
  clients/cloud-operation/stable/2020-05-05/client/operation_service/wait_responses.go
  clients/cloud-operation/stable/2020-05-05/models/hashicorp_cloud_operation_get_response.go
  clients/cloud-operation/stable/2020-05-05/models/hashicorp_cloud_operation_list_response.go
  clients/cloud-operation/stable/2020-05-05/models/hashicorp_cloud_operation_wait_response.go
Owners: @hashicorp/cloud-access-control

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Add Client ID for EU OAuth
  config/geography/eu.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

HCPCP-2278: EU Geography Support (#273)
  .changelog/273.txt
  cmd/example/main.go
  config/defaults.go
  config/env.go
  config/env_test.go
  config/geography/eu.go
  config/geography/geography.go
  config/geography/us.go
  config/new.go
  config/new_test.go
  config/tokensource.go
  config/with.go
  config/with_test.go
  golangci-config.yml
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update cloud-resource-manager SDK
  clients/cloud-resource-manager/stable/2019-12-10/client/project_service/project_service_client.go
  clients/cloud-resource-manager/stable/2019-12-10/models/hashicorp_cloud_resourcemanager_project_create_response.go
  clients/cloud-resource-manager/stable/2019-12-10/models/hashicorp_cloud_resourcemanager_project_delete_response.go
  clients/cloud-resource-manager/stable/2019-12-10/models/hashicorp_cloud_resourcemanager_project_set_description_response.go
  clients/cloud-resource-manager/stable/2019-12-10/models/hashicorp_cloud_resourcemanager_project_set_name_response.go
Owners: @hashicorp/cloud-access-control

changelog
  .changelog/293.txt
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update config/with.go
  config/with.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

config: add cachedTokenFile to hcp config
  config/hcp.go
  config/tokensource.go
  config/with.go
  config/with_test.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

The path of creditial path needs to be updated for read and write cache path
  auth/cred_file.go
  auth/cred_file_test.go
  config/files/files.go
  config/hcp.go
  config/tokensource.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

fix test
  auth/tokencache/login.go
  auth/tokencache/tokensource.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems
