Repository hashicorp/hcp-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems, @hashicorp/consul-cloud-ui, @hashicorp/vault-cloud-ui, @hashicorp/vault-cloud, @hashicorp/packer-cloud-ui, @hashicorp/cloud-packer, @hashicorp/cloud-access-control, @hashicorp/hcp-managed-services-ind

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence
* @hashicorp/cloud-core-platform-surfaces @hashicorp/cloud-core-platform-systems

# The Consul clients are owned by Consul
/clients/cloud-consul-service/ @hashicorp/consul-cloud-ui

# The Vault clients are owned by Vault
/clients/cloud-vault-service/ @hashicorp/vault-cloud-ui @hashicorp/vault-cloud

# The Packer clients are owned by Packer
/clients/cloud-packer-service/ @hashicorp/packer-cloud-ui @hashicorp/cloud-packer

# The Network and Resource Manager clients are owned by access-control and platform systems team respectively.
/clients/cloud-resource-manager/ @hashicorp/cloud-access-control
/clients/cloud-network/ @hashicorp/hcp-managed-services-ind

# The Operation clients are owned by Dataplane
/clients/cloud-operation/ @hashicorp/cloud-access-control

Update to filename for changelog entry
  .changelog/273.txt
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Linting correction
  config/with.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Add Tests for WithGeography
  config/with.go
  config/with_test.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Fix lint for with.go
  config/with.go
  golangci-config.yml
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Fix bug where user profile was nil
  config/defaults.go
  config/new.go
  config/with.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

ConnectionConfig to Config since its in a separate package
  config/defaults.go
  config/geography/europe.go
  config/geography/geography.go
  config/geography/north_america.go
  config/new_test.go
  config/with_test.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

chore: upgrade heimdall
  META.d/_summary.yaml
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

chore: upgrade heimdall (#274)
  META.d/_summary.yaml
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

chore: update dependabot
  .github/dependabot.yml
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Bump go
  .changelog/278.txt
  .github/workflows/create-release.yml
  .github/workflows/test.yml
  go.mod
  go.sum
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Bump go (#278)
  .changelog/278.txt
  .github/workflows/create-release.yml
  .github/workflows/test.yml
  go.mod
  go.sum
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update cloud-iam SDK
  clients/cloud-iam/stable/2019-12-10/client/groups_service/groups_service_delete_group_responses.go
  clients/cloud-iam/stable/2019-12-10/client/groups_service/groups_service_update_group2_responses.go
  clients/cloud-iam/stable/2019-12-10/client/groups_service/groups_service_update_group_members_responses.go
  clients/cloud-iam/stable/2019-12-10/client/groups_service/groups_service_update_group_responses.go
  clients/cloud-iam/stable/2019-12-10/client/iam_service/iam_service_client.go
  clients/cloud-iam/stable/2019-12-10/client/iam_service/iam_service_unify_user_principal_parameters.go
  clients/cloud-iam/stable/2019-12-10/client/iam_service/iam_service_unify_user_principal_responses.go
  clients/cloud-iam/stable/2019-12-10/models/hashicorp_cloud_iam_create_group_response.go
  clients/cloud-iam/stable/2019-12-10/models/hashicorp_cloud_iam_delete_group_response.go
  clients/cloud-iam/stable/2019-12-10/models/hashicorp_cloud_iam_get_current_user_principal_response.go
  clients/cloud-iam/stable/2019-12-10/models/hashicorp_cloud_iam_search_principals_result.go
  clients/cloud-iam/stable/2019-12-10/models/hashicorp_cloud_iam_service_principal.go
  clients/cloud-iam/stable/2019-12-10/models/hashicorp_cloud_iam_update_group_members_response.go
  clients/cloud-iam/stable/2019-12-10/models/hashicorp_cloud_iam_update_group_response.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update cloud-network SDK
  clients/cloud-network/stable/2020-09-07/client/network_service/associate_h_v_n_with_a_w_s_route53_private_hosted_zone_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/create_h_v_n_route_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/create_peering_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/create_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/create_t_g_w_attachment_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/create_token_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/delete_h_v_n_route_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/delete_peering_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/delete_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/delete_t_g_w_attachment_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/get_h_v_n_route_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/get_peering_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/get_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/get_t_g_w_attachment_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/list_dependencies_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/list_h_v_n_routes_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/list_peerings_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/list_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/list_t_g_w_attachments_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/network_service_client.go
Owners: @hashicorp/hcp-managed-services-ind

Update cloud-network SDK
  clients/cloud-network/stable/2020-09-07/client/network_service/create_dns_forwarding_parameters.go
  clients/cloud-network/stable/2020-09-07/client/network_service/create_dns_forwarding_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/create_dns_forwarding_rule_parameters.go
  clients/cloud-network/stable/2020-09-07/client/network_service/create_dns_forwarding_rule_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/delete_dns_forwarding_rule_parameters.go
  clients/cloud-network/stable/2020-09-07/client/network_service/delete_dns_forwarding_rule_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/get_dns_forwarding_parameters.go
  clients/cloud-network/stable/2020-09-07/client/network_service/get_dns_forwarding_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/get_dns_forwarding_rule_parameters.go
  clients/cloud-network/stable/2020-09-07/client/network_service/get_dns_forwarding_rule_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/list_dns_forwarding_rules_parameters.go
  clients/cloud-network/stable/2020-09-07/client/network_service/list_dns_forwarding_rules_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/list_dns_forwardings_parameters.go
  clients/cloud-network/stable/2020-09-07/client/network_service/list_dns_forwardings_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/network_service_client.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_create_dns_forwarding_request.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_create_dns_forwarding_response.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_create_dns_forwarding_rule_request.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_create_dns_forwarding_rule_response.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_delete_dns_forwarding_rule_response.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_dns_forwarding.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_dns_forwarding_response.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_dns_forwarding_response_state.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_dns_forwarding_rule.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_dns_forwarding_rule_state.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_dns_forwarding_state.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_forwarding_rule.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_get_dns_forwarding_response.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_get_dns_forwarding_rule_response.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_list_dns_forwarding_rules_response.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_list_dns_forwardings_response.go
Owners: @hashicorp/hcp-managed-services-ind

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

PCI PR template update
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

PCI PR template update
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

PCI PR template update (#290)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

PULL_REQUEST_TEMPLATE => pull_request_template
  .github/pull_request_template.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

PULL_REQUEST_TEMPLATE => pull_request_template (#291)
  .github/pull_request_template.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update cloud-packer-service SDK
  clients/cloud-packer-service/stable/2021-04-30/models/hashicorp_cloud_packer_registry_billing_deprovision_reason.go
  clients/cloud-packer-service/stable/2023-01-01/models/hashicorp_cloud_packer20230101_registry_billing_deprovision.go
  clients/cloud-packer-service/stable/2023-01-01/models/hashicorp_cloud_packer20230101_registry_billing_deprovision_reason.go
Owners: @hashicorp/packer-cloud-ui, @hashicorp/cloud-packer

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update to filename for changelog entry
  .changelog/273.txt
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update config constructor to handle multiple geographies
  config/new.go
  config/new_test.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Linting correction
  config/with.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Add Tests for WithGeography
  config/with.go
  config/with_test.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update constants in tokensource
  config/tokensource.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

add Geography to example
  cmd/example/main.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

ConnectionConfig to Config since its in a separate package
  config/defaults.go
  config/geography/europe.go
  config/geography/geography.go
  config/geography/north_america.go
  config/new_test.go
  config/with_test.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Lint correction and update comment for WithGeography
  config/with.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Add changelog entry
  .changelog/272.txt
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Fix lint for with.go
  config/with.go
  golangci-config.yml
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Create WithGeography function
  config/defaults.go
  config/new.go
  config/tokensource.go
  config/with.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Add a new defaults file to config package
  config/defaults.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Fix bug where user profile was nil
  config/defaults.go
  config/new.go
  config/with.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems
