Repository hashicorp/hcp-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems, @hashicorp/consul-cloud-ui, @hashicorp/vault-cloud-ui, @hashicorp/vault-cloud, @hashicorp/packer-cloud-ui, @hashicorp/cloud-packer, @hashicorp/cloud-access-control, @hashicorp/hcp-managed-services-ind

Update cloud-vault-service SDK
  clients/cloud-vault-service/stable/2020-11-25/client/vault_service/update_minor_version_upgrade_config_parameters.go
  clients/cloud-vault-service/stable/2020-11-25/client/vault_service/update_minor_version_upgrade_config_responses.go
  clients/cloud-vault-service/stable/2020-11-25/client/vault_service/upgrade_minor_version_parameters.go
  clients/cloud-vault-service/stable/2020-11-25/client/vault_service/upgrade_minor_version_responses.go
  clients/cloud-vault-service/stable/2020-11-25/client/vault_service/vault_service_client.go
  clients/cloud-vault-service/stable/2020-11-25/models/hashicorp_cloud_vault20201125_cluster_config.go
  clients/cloud-vault-service/stable/2020-11-25/models/hashicorp_cloud_vault20201125_minor_version_upgrade_config.go
  clients/cloud-vault-service/stable/2020-11-25/models/hashicorp_cloud_vault20201125_minor_version_upgrade_config_maintenance_window.go
  clients/cloud-vault-service/stable/2020-11-25/models/hashicorp_cloud_vault20201125_minor_version_upgrade_config_maintenance_window_day_of_week.go
  clients/cloud-vault-service/stable/2020-11-25/models/hashicorp_cloud_vault20201125_minor_version_upgrade_config_maintenance_window_time_window_u_t_c.go
  clients/cloud-vault-service/stable/2020-11-25/models/hashicorp_cloud_vault20201125_minor_version_upgrade_config_upgrade_type.go
  clients/cloud-vault-service/stable/2020-11-25/models/hashicorp_cloud_vault20201125_update_minor_version_upgrade_config_request.go
  clients/cloud-vault-service/stable/2020-11-25/models/hashicorp_cloud_vault20201125_update_minor_version_upgrade_config_response.go
  clients/cloud-vault-service/stable/2020-11-25/models/hashicorp_cloud_vault20201125_upgrade_minor_version_request.go
  clients/cloud-vault-service/stable/2020-11-25/models/hashicorp_cloud_vault20201125_upgrade_minor_version_response.go
Owners: @hashicorp/vault-cloud-ui, @hashicorp/vault-cloud

introduce extended build label support
  clients/cloud-packer-service/stable/2022-12-02/client/build_service/build_service_client.go
  clients/cloud-packer-service/stable/2022-12-02/client/build_service/get_image_by_build_labels_parameters.go
  clients/cloud-packer-service/stable/2022-12-02/client/build_service/get_image_by_build_labels_responses.go
  clients/cloud-packer-service/stable/2022-12-02/models/get_image_by_build_labels.go
Owners: @hashicorp/packer-cloud-ui, @hashicorp/cloud-packer

update changelog
  .changelog/297.txt
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

fix changelog #
  .changelog/1461.txt
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

update deps
  go.mod
  go.sum
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

correct PR #
  .changelog/2491.txt
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

correct PR # (again)
  .changelog/310.txt
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

make pretty
  clients/cloud-packer-service/stable/2022-12-02/client/build_service/build_service_client.go
  clients/cloud-packer-service/stable/2022-12-02/client/build_service/get_image_by_build_labels_parameters.go
  clients/cloud-packer-service/stable/2022-12-02/client/build_service/get_image_by_build_labels_responses.go
  clients/cloud-packer-service/stable/2022-12-02/models/get_image_by_build_labels.go
Owners: @hashicorp/packer-cloud-ui, @hashicorp/cloud-packer

Update clients/cloud-packer-service/stable/2022-12-02/client/build_service/build_service_client.go
  clients/cloud-packer-service/stable/2022-12-02/client/build_service/build_service_client.go
Owners: @hashicorp/packer-cloud-ui, @hashicorp/cloud-packer

Update clients/cloud-packer-service/stable/2022-12-02/client/build_service/get_image_by_build_labels_responses.go
  clients/cloud-packer-service/stable/2022-12-02/client/build_service/get_image_by_build_labels_responses.go
Owners: @hashicorp/packer-cloud-ui, @hashicorp/cloud-packer

address of PR comments
  .changelog/310.txt
  clients/cloud-packer-service/stable/2022-12-02/client/build_service/get_image_by_build_labels_parameters.go
  clients/cloud-packer-service/stable/2022-12-02/client/build_service/get_image_by_build_labels_responses.go
  clients/cloud-packer-service/stable/2022-12-02/models/get_image_by_build_labels.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems, @hashicorp/packer-cloud-ui, @hashicorp/cloud-packer

remove tangental changes to go.mod & go.sum
  go.mod
  go.sum
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

make pretty
  clients/cloud-packer-service/stable/2022-12-02/models/get_image_by_build_labels.go
Owners: @hashicorp/packer-cloud-ui, @hashicorp/cloud-packer

revert pkg name touches that break lint
  clients/cloud-packer-service/stable/2022-12-02/client/build_service/build_service_client.go
  clients/cloud-packer-service/stable/2022-12-02/client/build_service/get_image_by_build_labels_parameters.go
  clients/cloud-packer-service/stable/2022-12-02/client/build_service/get_image_by_build_labels_responses.go
Owners: @hashicorp/packer-cloud-ui, @hashicorp/cloud-packer

Iintroduce extended build label support (#310)
  .changelog/310.txt
  clients/cloud-packer-service/stable/2022-12-02/client/build_service/build_service_client.go
  clients/cloud-packer-service/stable/2022-12-02/client/build_service/get_image_by_build_labels_parameters.go
  clients/cloud-packer-service/stable/2022-12-02/client/build_service/get_image_by_build_labels_responses.go
  clients/cloud-packer-service/stable/2022-12-02/models/get_image_by_build_labels.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems, @hashicorp/packer-cloud-ui, @hashicorp/cloud-packer

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence
* @hashicorp/cloud-core-platform-surfaces @hashicorp/cloud-core-platform-systems

# The Consul clients are owned by Consul
/clients/cloud-consul-service/ @hashicorp/consul-cloud-ui

# The Vault clients are owned by Vault
/clients/cloud-vault-service/ @hashicorp/vault-cloud-ui @hashicorp/vault-cloud

# The Packer clients are owned by Packer
/clients/cloud-packer-service/ @hashicorp/packer-cloud-ui @hashicorp/cloud-packer

# The Network and Resource Manager clients are owned by access-control and platform systems team respectively.
/clients/cloud-resource-manager/ @hashicorp/cloud-access-control
/clients/cloud-network/ @hashicorp/hcp-managed-services-ind

# The Operation clients are owned by Dataplane
/clients/cloud-operation/ @hashicorp/cloud-access-control
