Repository hashicorp/hcp-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems, @hashicorp/consul-cloud-ui, @hashicorp/vault-cloud-ui, @hashicorp/vault-cloud, @hashicorp/packer-cloud-ui, @hashicorp/cloud-packer, @hashicorp/cloud-access-control, @hashicorp/hcp-managed-services-ind

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence
* @hashicorp/cloud-core-platform-surfaces @hashicorp/cloud-core-platform-systems

# The Consul clients are owned by Consul
/clients/cloud-consul-service/ @hashicorp/consul-cloud-ui

# The Vault clients are owned by Vault
/clients/cloud-vault-service/ @hashicorp/vault-cloud-ui @hashicorp/vault-cloud

# The Packer clients are owned by Packer
/clients/cloud-packer-service/ @hashicorp/packer-cloud-ui @hashicorp/cloud-packer

# The Network and Resource Manager clients are owned by access-control and platform systems team respectively.
/clients/cloud-resource-manager/ @hashicorp/cloud-access-control
/clients/cloud-network/ @hashicorp/hcp-managed-services-ind

# The Operation clients are owned by Dataplane
/clients/cloud-operation/ @hashicorp/cloud-access-control

Login auth: Add geography to the cached credential file
  .changelog/296.txt
  auth/tokencache/cache.go
  auth/tokencache/cache_test.go
  auth/tokencache/clear_test.go
  auth/tokencache/login.go
  auth/tokencache/login_test.go
  auth/tokencache/serviceprincipal.go
  auth/tokencache/tokensource.go
  auth/tokencache/workload.go
  config/defaults.go
  config/geography/geography.go
  config/hcp.go
  config/tokensource.go
  config/with.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update cloud-packer-service SDK
  clients/cloud-packer-service/stable/2023-01-01/client/packer_service/packer_service_client.go
  clients/cloud-packer-service/stable/2023-01-01/client/packer_service/packer_service_search_external_artifact_parameters.go
  clients/cloud-packer-service/stable/2023-01-01/client/packer_service/packer_service_search_external_artifact_responses.go
  clients/cloud-packer-service/stable/2023-01-01/models/hashicorp_cloud_packer20230101_external_artifact.go
  clients/cloud-packer-service/stable/2023-01-01/models/hashicorp_cloud_packer20230101_external_artifact_bucket.go
  clients/cloud-packer-service/stable/2023-01-01/models/hashicorp_cloud_packer20230101_external_artifact_version.go
  clients/cloud-packer-service/stable/2023-01-01/models/hashicorp_cloud_packer20230101_search_external_artifact_request_body.go
  clients/cloud-packer-service/stable/2023-01-01/models/hashicorp_cloud_packer20230101_search_external_artifact_response.go
Owners: @hashicorp/packer-cloud-ui, @hashicorp/cloud-packer

Update cloud-vault-radar SDK
  clients/cloud-vault-radar/preview/2023-05-01/client/data_source_registration_service/onboard_data_source_responses.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Login auth: Add geography to the cached credential file
  .changelog/296.txt
  auth/tokencache/cache.go
  auth/tokencache/cache_test.go
  auth/tokencache/clear_test.go
  auth/tokencache/login.go
  auth/tokencache/login_test.go
  auth/tokencache/serviceprincipal.go
  auth/tokencache/tokensource.go
  auth/tokencache/workload.go
  config/defaults.go
  config/geography/geography.go
  config/hcp.go
  config/tokensource.go
  config/with.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Login auth: Add geography to the cached credential file (#296)
  .changelog/296.txt
  auth/tokencache/cache.go
  auth/tokencache/cache_test.go
  auth/tokencache/clear_test.go
  auth/tokencache/login.go
  auth/tokencache/login_test.go
  auth/tokencache/serviceprincipal.go
  auth/tokencache/tokensource.go
  auth/tokencache/workload.go
  config/defaults.go
  config/geography/geography.go
  config/hcp.go
  config/tokensource.go
  config/with.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Service principal auth: Add geography to the cached credential file
  auth/tokencache/serviceprincipal.go
  auth/tokencache/serviceprincipal_test.go
  auth/tokencache/tokensource.go
  config/tokensource.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Service principal auth: Add geography to the cached credential file (#297)
  auth/tokencache/serviceprincipal.go
  auth/tokencache/serviceprincipal_test.go
  auth/tokencache/tokensource.go
  config/tokensource.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Workload identity auth: Add geography to the cached credential file
  auth/tokencache/tokensource.go
  auth/tokencache/workload.go
  auth/tokencache/workload_test.go
  config/tokensource.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

fix test
  auth/tokencache/login.go
  auth/tokencache/tokensource.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

fix comment
  auth/tokencache/workload_test.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Workload identity auth: Add geography to the cached credential file (#298)
  auth/tokencache/login.go
  auth/tokencache/tokensource.go
  auth/tokencache/workload.go
  auth/tokencache/workload_test.go
  config/tokensource.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update cloud-network SDK
  clients/cloud-network/stable/2020-09-07/client/network_service/create_private_link_service_parameters.go
  clients/cloud-network/stable/2020-09-07/client/network_service/create_private_link_service_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/delete_private_link_service_parameters.go
  clients/cloud-network/stable/2020-09-07/client/network_service/delete_private_link_service_responses.go
  clients/cloud-network/stable/2020-09-07/client/network_service/get_private_link_service_parameters.go
  clients/cloud-network/stable/2020-09-07/client/network_service/network_service_client.go
  clients/cloud-network/stable/2020-09-07/client/network_service/update_private_link_service_parameters.go
  clients/cloud-network/stable/2020-09-07/client/network_service/update_private_link_service_responses.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_create_private_link_service_request.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_create_private_link_service_response.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_delete_private_link_service_response.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_private_link_service.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_private_link_service_state.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_update_private_link_service_request.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_update_private_link_service_response.go
Owners: @hashicorp/hcp-managed-services-ind

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update cloud-network SDK
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_private_link_service.go
Owners: @hashicorp/hcp-managed-services-ind

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update cloud-network SDK
  clients/cloud-network/stable/2020-09-07/client/network_service/delete_private_link_service_parameters.go
  clients/cloud-network/stable/2020-09-07/models/hashicorp_cloud_network20200907_private_link_service.go
Owners: @hashicorp/hcp-managed-services-ind

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

chore: update dependabot (#275)
  .github/dependabot.yml
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update cloud-vault-radar SDK
  clients/cloud-vault-radar/preview/2023-05-01/client/cloud_vault_radar_client.go
  clients/cloud-vault-radar/preview/2023-05-01/client/secret_manager_service/get_secret_manager_by_id_parameters.go
  clients/cloud-vault-radar/preview/2023-05-01/client/secret_manager_service/get_secret_manager_by_id_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/secret_manager_service/offboard_secret_manager_parameters.go
  clients/cloud-vault-radar/preview/2023-05-01/client/secret_manager_service/offboard_secret_manager_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/secret_manager_service/onboard_secret_manager_parameters.go
  clients/cloud-vault-radar/preview/2023-05-01/client/secret_manager_service/onboard_secret_manager_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/secret_manager_service/patch_secret_manager_features_parameters.go
  clients/cloud-vault-radar/preview/2023-05-01/client/secret_manager_service/patch_secret_manager_features_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/secret_manager_service/secret_manager_service_client.go
  clients/cloud-vault-radar/preview/2023-05-01/client/secret_manager_service/update_secret_manager_token_parameters.go
  clients/cloud-vault-radar/preview/2023-05-01/client/secret_manager_service/update_secret_manager_token_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/models/protobuf_null_value.go
  clients/cloud-vault-radar/preview/2023-05-01/models/vault_radar20230501_get_secret_manager_by_id_response.go
  clients/cloud-vault-radar/preview/2023-05-01/models/vault_radar20230501_onboard_secret_manager_response.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update cloud-vault-service SDK
  clients/cloud-vault-service/stable/2020-04-20/client/vault_service/list_snapshots_parameters.go
  clients/cloud-vault-service/stable/2020-04-20/models/hashicorp_cloud_internal_location_link.go
  clients/cloud-vault-service/stable/2020-04-20/models/hashicorp_cloud_internal_location_location.go
  clients/cloud-vault-service/stable/2020-04-20/models/hashicorp_cloud_internal_location_region.go
  clients/cloud-vault-service/stable/2020-04-20/models/hashicorp_cloud_vault20200420_audit_log.go
  clients/cloud-vault-service/stable/2020-04-20/models/hashicorp_cloud_vault20200420_audit_log_state.go
  clients/cloud-vault-service/stable/2020-04-20/models/hashicorp_cloud_vault20200420_cluster.go
  clients/cloud-vault-service/stable/2020-04-20/models/hashicorp_cloud_vault20200420_cluster_state.go
  clients/cloud-vault-service/stable/2020-04-20/models/hashicorp_cloud_vault20200420_create_snapshot_request.go
  clients/cloud-vault-service/stable/2020-04-20/models/hashicorp_cloud_vault20200420_fetch_audit_log_request.go
  clients/cloud-vault-service/stable/2020-04-20/models/hashicorp_cloud_vault20200420_restore_snapshot_request.go
  clients/cloud-vault-service/stable/2020-04-20/models/hashicorp_cloud_vault20200420_seal_request.go
  clients/cloud-vault-service/stable/2020-04-20/models/hashicorp_cloud_vault20200420_snapshot.go
  clients/cloud-vault-service/stable/2020-04-20/models/hashicorp_cloud_vault20200420_snapshot_state.go
  clients/cloud-vault-service/stable/2020-04-20/models/hashicorp_cloud_vault20200420_snapshot_type.go
  clients/cloud-vault-service/stable/2020-04-20/models/hashicorp_cloud_vault20200420_unseal_request.go
  clients/cloud-vault-service/stable/2020-04-20/models/hashicorp_cloud_vault20200420_update_c_o_r_s_config_request.go
  clients/cloud-vault-service/stable/2020-04-20/models/hashicorp_cloud_vault20200420_update_public_ips_request.go
Owners: @hashicorp/vault-cloud-ui, @hashicorp/vault-cloud

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update cloud-vault-service SDK
  clients/cloud-vault-service/stable/2020-11-25/client/vault_service/vault_service_client.go
Owners: @hashicorp/vault-cloud-ui, @hashicorp/vault-cloud

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

add changelog
  .changelog/297.txt
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

.
  .changelog/308.txt
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update cloud-vault-radar SDK
  clients/cloud-vault-radar/preview/2023-05-01/client/cloud_vault_radar_client.go
  clients/cloud-vault-radar/preview/2023-05-01/client/data_source_registration_service/data_source_registration_service_client.go
  clients/cloud-vault-radar/preview/2023-05-01/client/data_source_registration_service/onboard_data_source_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/data_source_registration_service/update_data_source_token_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/event_service/event_service_client.go
  clients/cloud-vault-radar/preview/2023-05-01/client/event_service/search_events_parameters.go
  clients/cloud-vault-radar/preview/2023-05-01/client/event_service/search_events_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/event_service/update_events_parameters.go
  clients/cloud-vault-radar/preview/2023-05-01/client/event_service/update_events_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/secret_manager_service/onboard_secret_manager_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/secret_manager_service/secret_manager_service_client.go
  clients/cloud-vault-radar/preview/2023-05-01/client/secret_manager_service/update_secret_manager_token_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/models/vault_radar20230501_event.go
  clients/cloud-vault-radar/preview/2023-05-01/models/vault_radar20230501_event_update.go
  clients/cloud-vault-radar/preview/2023-05-01/models/vault_radar20230501_filter_v2.go
  clients/cloud-vault-radar/preview/2023-05-01/models/vault_radar20230501_filter_v2_operation.go
  clients/cloud-vault-radar/preview/2023-05-01/models/vault_radar20230501_search_events_response.go
  clients/cloud-vault-radar/preview/2023-05-01/models/vault_radar20230501_search_schema_v2.go
  clients/cloud-vault-radar/preview/2023-05-01/models/vault_radar20230501_update_events_response.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update cloud-iam SDK
  clients/cloud-iam/stable/2019-12-10/client/groups_service/groups_service_client.go
  clients/cloud-iam/stable/2019-12-10/client/groups_service/groups_service_count_groups_parameters.go
  clients/cloud-iam/stable/2019-12-10/client/groups_service/groups_service_count_groups_responses.go
  clients/cloud-iam/stable/2019-12-10/client/iam_service/iam_service_client.go
  clients/cloud-iam/stable/2019-12-10/client/iam_service/iam_service_count_user_principals_by_organization_parameters.go
  clients/cloud-iam/stable/2019-12-10/client/iam_service/iam_service_count_user_principals_by_organization_responses.go
  clients/cloud-iam/stable/2019-12-10/client/iam_service/iam_service_list_user_principals_for_organization_by_email_parameters.go
  clients/cloud-iam/stable/2019-12-10/client/iam_service/iam_service_list_user_principals_for_organization_by_email_responses.go
  clients/cloud-iam/stable/2019-12-10/client/s_s_o_management_service/s_s_o_management_service_verify_s_s_o_domain_ownership_parameters.go
  clients/cloud-iam/stable/2019-12-10/client/s_s_o_management_service/s_s_o_management_service_verify_s_s_o_domain_ownership_responses.go
  clients/cloud-iam/stable/2019-12-10/client/s_s_o_management_service/sso_management_service_client.go
  clients/cloud-iam/stable/2019-12-10/models/hashicorp_cloud_iam_count_groups_request_filter.go
  clients/cloud-iam/stable/2019-12-10/models/hashicorp_cloud_iam_count_groups_response.go
  clients/cloud-iam/stable/2019-12-10/models/hashicorp_cloud_iam_count_user_principals_by_organization_response.go
  clients/cloud-iam/stable/2019-12-10/models/hashicorp_cloud_iam_get_organization_name_by_invitation_token_response.go
  clients/cloud-iam/stable/2019-12-10/models/hashicorp_cloud_iam_list_user_principals_for_organization_by_email_response.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update cloud-vault-radar SDK
  clients/cloud-vault-radar/preview/2023-05-01/client/resource_service/list_resources_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/client/resource_service/resource_service_client.go
  clients/cloud-vault-radar/preview/2023-05-01/client/resource_service/search_resources_parameters.go
  clients/cloud-vault-radar/preview/2023-05-01/client/resource_service/search_resources_responses.go
  clients/cloud-vault-radar/preview/2023-05-01/models/vault_radar20230501_resource.go
  clients/cloud-vault-radar/preview/2023-05-01/models/vault_radar20230501_resource_v2.go
  clients/cloud-vault-radar/preview/2023-05-01/models/vault_radar20230501_search_resources_response.go
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Update cloud-resource-manager SDK
  clients/cloud-resource-manager/stable/2019-12-10/client/organization_service/organization_service_client.go
  clients/cloud-resource-manager/stable/2019-12-10/client/organization_service/organization_service_delete_parameters.go
  clients/cloud-resource-manager/stable/2019-12-10/client/organization_service/organization_service_delete_responses.go
  clients/cloud-resource-manager/stable/2019-12-10/client/organization_service/organization_service_get_pre_deletion_check_parameters.go
  clients/cloud-resource-manager/stable/2019-12-10/client/organization_service/organization_service_get_pre_deletion_check_responses.go
  clients/cloud-resource-manager/stable/2019-12-10/models/hashicorp_cloud_resourcemanager_billing_detail.go
  clients/cloud-resource-manager/stable/2019-12-10/models/hashicorp_cloud_resourcemanager_check_id.go
  clients/cloud-resource-manager/stable/2019-12-10/models/hashicorp_cloud_resourcemanager_check_result.go
  clients/cloud-resource-manager/stable/2019-12-10/models/hashicorp_cloud_resourcemanager_check_status.go
  clients/cloud-resource-manager/stable/2019-12-10/models/hashicorp_cloud_resourcemanager_failure_details.go
  clients/cloud-resource-manager/stable/2019-12-10/models/hashicorp_cloud_resourcemanager_group_detail.go
  clients/cloud-resource-manager/stable/2019-12-10/models/hashicorp_cloud_resourcemanager_item_detail.go
  clients/cloud-resource-manager/stable/2019-12-10/models/hashicorp_cloud_resourcemanager_organization_delete_response.go
  clients/cloud-resource-manager/stable/2019-12-10/models/hashicorp_cloud_resourcemanager_organization_pre_deletion_check_response.go
  clients/cloud-resource-manager/stable/2019-12-10/models/hashicorp_cloud_resourcemanager_policy_binding.go
  clients/cloud-resource-manager/stable/2019-12-10/models/hashicorp_cloud_resourcemanager_resource_detail.go
  clients/cloud-resource-manager/stable/2019-12-10/models/hashicorp_cloud_resourcemanager_role.go
  clients/cloud-resource-manager/stable/2019-12-10/models/hashicorp_cloud_resourcemanager_service_principal_detail.go
  clients/cloud-resource-manager/stable/2019-12-10/models/hashicorp_cloud_resourcemanager_user_detail.go
Owners: @hashicorp/cloud-access-control

updated CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems

Add .whitesource configuration file and disable SAST scanning for this repo
  .whitesource
Owners: @hashicorp/cloud-core-platform-surfaces, @hashicorp/cloud-core-platform-systems
